@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Ao inicializar o programa, é solicitado que o usuário informe qual deve ser a capacidade máxima do elevador, 
        em seguida, é solicitado que o usuário informe o total de andares que o elevador pode percorrer.
        Estes dois valores devem ser números inteiros maiores que zero, pois serão usados para configurar o funcionamento do elevador.
        O usuário será advertido sempre que um valor inválido for digitado.
    </p>

        <img src="images/img01.JPG"/>

    <p>
        Ao cumprir com sucesso a inicialização das configurações do elevador, o usuário será levado a uma tela que mostra a representação 
        de um prédio com a quantidade de andares configurada previamente e um elevador vazio no térreo. Além de ser apresentado um menu com 
        as opções possíveis.
    </p>

        <img src="images/img02.JPG"/>

    <p>
        Novamente, os dados de entrada são tratados para evitar mal funcionamento do programa. É esperado que o usuário escolha umas das 
        opções exibidas no menu digitando o número correspondente, de 1 a 5. As ações possiveis de se tomar são:
            (1) Adicionar uma pessoa ao elevador;
            (2) Remover uma pessoa do elevador;
            (3) Subir o elevador um andar;
            (4) Descer o elevador um andar;
            (5) Encerrar programa.

        A cada ação executada com sucesso, a tela é atualizada com o número de passageiros do elevador e o andar em que o elevador se encontra.
    </p>
</div>
